<form action="/urls" method="post">
	Enter URL:
	<input type = "text" name="longurl">
	<input type = "submit" value="Submit">
</form>



<% if @urls %>
	<% @urls.each do |x| %>
		<%= x.long_url %>
		<%= x.short_url %> <br>
	<% end %>
<% end %>